$fonteLetra: sans-serif;

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {

    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 15%;
    border-radius: 5px;

    h1 {

        text-align: center;
        font-size: $fonteLetra;
    }

    .temporizador {

        display: flex;
        justify-content: space-between;
        border: 1px solid rgb(0, 0, 0);

        .horas {
            padding: 30px;
            font-size: 30px;
        }

        .minutos {

            font-size: 30px;
            padding: 30px;
        }

        .segundos {

            font-size: 30px;
            padding: 30px;
            
        }
    }

    .botoes {

        margin-top: 20px;
        display: flex;
        border: 1px solid rgb(0, 0, 0);
        justify-content: space-between;
        padding: 10px;

        #iniciar {

            padding: 10px;
            background-color: green;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 12px;
            transition: 0.7s;
            font-family: $fonteLetra;
    
        }

        #iniciar:hover {

            font-size: 16px;
            transition: 0.7s;

        }

        #pausar:hover {
            font-size: 16px;
            transition: 0.7s;

        }

        #resetar:hover {

            font-size: 16px;
            transition: 0.7s;
        }
        #pausar {

            padding: 10px;
            background-color: orange;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            font-size: 12px;
            transition: 0.7s;
            font-family: $fonteLetra;
        }

        #resetar {

            padding: 10px;
            background-color: red;
            border: none;
            border-radius: 10px;
            cursor:pointer;
            font-size: 12px;
            transition: 0.7s;
            font-family: $fonteLetra;
        }
    }
}